{% extends "photo_site/base.html" %} {% load static %} {% load bootstrap4 %} {% load bootstrap_icons %}

{% block title %}Add Photo{% endblock title %}

{% block content %}
<div class="container w-75">
    <h4 class="display-4 text-center my-2" id="add-photo-title">Add a Photo</h4>
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb bg-white">
            <li class="breadcrumb-item"><a href="{% url 'photo_site:index' %}">Home</a></li>
            <li class="breadcrumb-item"><a href="{% url 'photo_site:photos' %}">Photos</a></li>
            <li class="breadcrumb-item active" aria-current="page">Add Photo</li>
        </ol>
    </nav>
    <div class="container w-75">
      {% if lens_form.name.errors %}
      <div class="alert alert-danger alert-dismissible fade show" role="alert">
        <h4 class="alert-heading">Lens Already Exists</h4>
        {{ lens_form.name.errors }}
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      {% endif %}
        <div class="container p-4 my-2">
          <form enctype="multipart/form-data" method="POST" action="{% url 'photo_site:add_photo' %}" id="PhotoForm">
          {% csrf_token %} 
          
          {# Rendering form fields/labels manually to control where modal button displayed #}
          <div class="form-group">
            {{ photo_form.image.label_tag }}
            {{ photo_form.image }}
          </div>
          <div class="form-group">
            {{ photo_form.title.label_tag }}
            {{ photo_form.title }}
          </div>
          <div class="form-group">
            {{ photo_form.description.label_tag }}
            {{ photo_form.description }}
          </div>
          <div class="form-group">
            {{ photo_form.location.label_tag }}
            {{ photo_form.location }}
          </div>
          <div class="form-group">
            {{ photo_form.camera.label_tag }}
            {{ photo_form.camera }}
          </div>
          <div class="form-group">
            {{ photo_form.keywords.label_tag }}
            {{ photo_form.keywords }}
          </div>
          <div class="form-group">
            {{ photo_form.year_taken.label_tag }}
            {{ photo_form.year_taken }}
          </div>
          <div class="form-group">
            {{ photo_form.photo_type.label_tag }}
            {{ photo_form.photo_type }}
          </div>
          <div class="form-group">
            {{ photo_form.lens_used.label_tag }}
            {{ photo_form.lens_used }}
          {# Button to launch modal with add lens form #}
            <button class="btn btn-outline-secondary rounded-pill text-info float-right" data-toggle="modal" data-target="#lensModal">{% bs_icon "plus-circle" %} New Lens</button>
          </div> 
          
            <button
              name="add_photo_submit"
              type="submit"
              class="btn btn-lg btn-outline-primary rounded-pill"
              role="button"
              alt="submit"
              value="Save"
              id="photoFormSubmit"
            >
              {% bs_icon 'save' %} Save
            </button>
          </form>
        </div>
    </div>
    <div class="modal fade" id="lensModal" tabindex="-1" role="dialog" aria-labelledby="addLensInfo" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="lensModalLabel">Add Lens Info</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
           {# Lens form embedded in Modal and accessible via button #}
            <form method="post" action="{% url 'photo_site:add_photo' %}">
              {% csrf_token %}
              <p>
                {{ lens_form.as_p }}
              </p>
              <button type="submit" class="btn btn-outline-primary rounded-pill float-right" name="add_lens_submit">{% bs_icon 'save' %} Save</button>
            </form>
          </div>
        </div>
      </div>
    </div>
</div>

{% endblock content %}

  
{% block footer %}
<article class="text-secondary text-center">
    <span class="mr-3"><a class="about-link" href="https://instagram.com/photo-site" target="_blank" rel="noopener noreferrer">{% bs_icon 'instagram' size="1.5rem" %}</a></span>
    <span class="mr-3"><a class="about-link" href="https://twitter.com/photo-site" target="_blank" rel="noopener noreferrer">{% bs_icon 'twitter' size="1.5rem" %}</a></span>
    <a class="about-link" href="https://youtube.com" target="_blank" rel="noopener noreferrer">{% bs_icon 'youtube' size="1.5rem" %}</a>
</article>
{% endblock footer %}