{% extends "photo_site/base.html" %} {% load static %} {% load bootstrap4 %} {% load bootstrap_icons %} 

{% block title %}{{ user.username|title }}'s Photos{% endblock title %}

{% block content %} 
<div class="container w-75">
    {% if selected_type %}
        <h4 class="display-4 text-center my-2" id="your-photos"><img src="{{ current_profile.photo.url }}" alt="{{ user.username }}" style="max-height:100px;max-width:125px;border-radius:50%;" /> {{ user.username|title }}'s {{ selected_type|title }}</h4>
    {% else %}
        <h4 class="display-4 text-center my-2" id="your-photos">{% if current_profile.photo %}<img src="{{ current_profile.photo.url }}" alt="{{ user.username }}" style="max-height:100px;max-width:125px;border-radius:50%;" />{% endif %}  {{ user.username|title }}'s Photos</h4>
    {% endif %}
    
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb bg-white">
            <li class="breadcrumb-item"><a href="{% url 'photo_site:index' %}">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">{{ user.username|title }}'s Photos</li>
        </ol>
    </nav>
    <br />

    <span class="d-flex justify-content-center mb-3">
        <a class="btn btn-outline-secondary rounded-pill" data-toggle="collapse" href="#filterOptions" role="button" aria-expanded="false" aria-controls="filterOptions">Filter Photos</a>
    </span>
    <div class="collapse" id="filterOptions">
        <div class="btn-group d-flex flex-wrap" role="group" aria-label="filter photos">
            <a class="btn btn-outline-secondary rounded-pill" href="?">All</a>
            {% for photo_type in photo_types %}
            <a class="btn btn-outline-secondary rounded-pill" href="?photo_type={{ photo_type.0 }}" {% if photo_type.0 == selected_type %}class="active"{% endif %}>{{ photo_type.1 }}</a>
            {% endfor %}
        </div>
    </div>

    <div class="container d-flex justify-content-between flex-wrap">
    {% for photo in my_photos %}
        <div class="card bg-white text-white mt-2 border-0" >
            <img src="{{ photo.image.url }}" class="card-img-top" alt="{{ photo.title }}" style="max-width:350px;height:250px;border-radius:30%;" />
            <div class="card-img-overlay">
                <h5 class="photo-title"><a class="photo-title" href="{% url 'photo_site:photo' photo.id %}">{{ photo.title|title }}</a></h5>
            </div>
        </div>
        <br />
    {% empty %}
        </div>
        <div class="container">
            <h6 class="text-secondary text-center">No Photos</h6>
            <br />
            <span class="d-flex justify-content-center">
                <a class="btn btn-outline-primary rounded-pill" href="{% url 'photo_site:add_photo' %}">{% bs_icon 'image-fill' %} Add Photo</a>
            </span>
    {% endfor %}
        </div>
</div>

{% endblock content %}
