
<h4 class="display-3 text-center my-2" id="photos-title">Gallery</h4>
    
<nav aria-label="breadcrumb">
    <ol class="breadcrumb bg-white">
        <li class="breadcrumb-item"><a href="{% url 'photo_site:index' %}">Home</a></li>
        <li class="breadcrumb-item active" aria-current="page">Photos</li>
    </ol>
</nav>
<br />
<div class="container d-flex justify-content-between flex-wrap">
{% for photo in photos %}
    <div class="card bg-white text-white mt-2 border-0" >
        <img src="{{ photo.image.url }}" class="card-img-top" alt="{{ photo.title }}" style="max-width:350px;height:250px;border-radius:30%;" />
        <div class="card-img-overlay">
            <h5 class="photo-title"><a class="photo-title" href="{% url 'photo_site:photo' photo.id %}">{{ photo.title|title }}</a></h5>
        </div>
    </div>
    <br />
{% empty %}
</div>
    <h6 class="text-secondary text-center">Add a Photo</h6>
    <br />
    <a class="nav-link" href="{% url 'photo_site:add_photo' %}">{% bs_icon 'image-fill' %} Add Photo</a>
{% endfor %}
</div>

<h1>Photo Gallery</h1>

<p>Filter by type:</p>
<ul>
  <li><a href="?">All</a></li>
  {% for photo_type in photo_types %}
    <li>
      <a href="?type={{ photo_type.0 }}"
         {% if photo_type.0 == selected_type %}class="active"{% endif %}>
        {{ photo_type.1 }}
      </a>
    </li>
  {% endfor %}
</ul>

<div class="gallery">
  {% for photo in photos %}
    <!-- Display photos here -->
    <img src="{{ photo.image.url }}" alt="{{ photo.title }}">
  {% empty %}
    <p>No photos found.</p>
  {% endfor %}
</div>


{% endblock content %}




@login_required
def comment(request, photo_id):
    """User add a new comment on a photo"""
    photo = Photo.objects.get(id=photo_id)

    if request.method != "POST":
        # no data submitted - create a blank form
        form = CommentForm()
    else:
        # POST data submitted and process data
        form = CommentForm(request.POST)
        if form.is_valid():
            new_comment = form.save(commit=False)
            new_comment.photo = photo
            new_comment.owner = request.user
            new_comment.save()
            return redirect("photo_site:photo", photo_id=photo_id)
    context = {"photo": photo, "form": form}
    return render(request, "photo_site/comment.html", context)


    <button type="button" class="btn btn-outline-info"><a class="text-secondary nav-link" href="{% url 'photo_site:comment' photo.id %}"><span class="text-info">{% bs_icon 'chat-square-text' %}</span> Comment</a></button>