{% extends "photo_site/base.html" %} {% load static %} {% load bootstrap4 %} {% load bootstrap_icons %}

{% block title %}Photos{% endblock title %}

{% block content %}
<div class="container w-75">
    {% if selected_type %}
        <h4 class="display-4 text-center my-2" id="photos-title">{{ selected_type|title }} Photos</h4>
    {% else %}
        <h4 class="display-3 text-center my-2" id="photos-title">Gallery</h4>
    {% endif %}
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb bg-white">
            <li class="breadcrumb-item"><a href="{% url 'photo_site:index' %}">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">Photos</li>
        </ol>
    </nav>
    <br />
    <div class="container d-flex justify-content-center mb-3">
        <div class="dropdown mb-3">
            <button class="btn btn-outline-info btn-lg dropdown-toggle" type="button" data-toggle="dropdown" aria-expanded="false">{% bs_icon 'images' size="1.35rem" %} Filter Photos</button>
            <div class="dropdown-menu">
                <button type="button" class="btn btn-outline-secondary"><a href="?">All</a></button>
                {% for photo_type in photo_types %}
                    <button type="button" class="btn btn-outline-secondary"><a href="?photo_type={{ photo_type.0 }}" {% if photo_type.0 == selected_type %}class="active"{% endif %}>{{ photo_type.1 }}</a></button>
                {% endfor %}
            </div>
        </div>
    </div>
    <div class="container d-flex justify-content-between flex-wrap">
    {% for photo in photos %}
        <div class="card bg-white text-white mt-2 border-0" >
            <img src="{{ photo.image.url }}" class="card-img-top" alt="{{ photo.title }}" style="max-width:350px;height:250px;border-radius:30%;" />
            <div class="card-img-overlay">
                <h5 class="photo-title"><a class="photo-title" href="{% url 'photo_site:photo' photo.id %}">{{ photo.title|title }}</a></h5>
            </div>
        </div>
        <br />
    {% empty %}
    </div>
    <div class="container">
        <h6 class="text-secondary text-center">No Photos</h6>
        <br />
        <span class="d-flex justify-content-center">
            <button type="button" class="btn btn-outline-primary"><a class="nav-link" href="{% url 'photo_site:add_photo' %}">{% bs_icon 'image-fill' %} Add Photo</a></button>
        </span>
    {% endfor %}
    </div>
</div>

{% endblock content %}