{% extends "photo_site/base.html" %} {% load static %} {% load bootstrap4 %} {% load bootstrap_icons %}

{% block title %}Photo {{ photo.id }}: {{ photo.title|title }}{% endblock title %}

{% block content %}
<div class="container w-75">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb bg-white">
            <li class="breadcrumb-item"><a href="{% url 'photo_site:index' %}">Home</a></li>
            <li class="breadcrumb-item"><a href="{% url 'photo_site:photos' %}">Photos</a></li>
            <li class="breadcrumb-item active" aria-current="page">Photo {{ photo.id }}</li>
        </ol>
    </nav>
    <br /> 
    
    {% if photo.title %}
    <h4 class="text-secondary text-center mb-3">{{ photo.title|title }}</h4>
    {% else %}
    <h4 class="text-secondary text-center mb-3">No title</h4>
    {% endif %}
    <div class="container w-75">
        <span class="d-flex justify-content-center">
            <img src="{{ photo.image.url }}" alt="{{ photo.title }}" style="max-width:650px;max-height:650px;border-radius:15%;" />
        </span>
        <br />
        <div class="d-flex justify-content-center text-center text-secondary">
            <p>{{ photo.description|capfirst }}</p>
        </div>
        <br />
        <p class="text-center text-secondary">Image by {{ photo.owner|title }}</p>

        <ul class="list-group rounded">
            {% if photo.photo_type %}
            <li class="list-group-item"><span class="font-weight-bold">{{ photo.photo_type|title }}</span> Photo</li>
            {% endif %}
            {% if photo.location %}
            <li class="list-group-item">{{ photo.location|upper }}</li>
            {% endif %}
            {% if photo.camera %}
            <li class="list-group-item">Shot with {{ photo.camera|title }}</li>
            {% endif %}
            {% if photo.year_taken %}
            <li class="list-group-item">Year taken: {{ photo.year_taken }}</li>
            {% endif %}
            {% if photo.keywords %}
            <li class="list-group-item">Keywords: {{ photo.keywords }}</li>
            {% endif %}
            {% if photo.lens_used %}
            <li class="list-group-item">Lens: {{ photo.lens_used|title }}</li>
            {% endif %}
        </ul>
        <br />
        <div class="container d-flex justify-content-between">
            {% if user.is_authenticated %}
            <button class="btn btn-outline-info" data-toggle="modal" data-target="#commentModal">{% bs_icon "chat-text" %} <span class="text-secondary">Comment</span></button>
            {% endif %}
            {% if photo.owner == current_user %}
            <button type="button" class="btn btn-outline-danger" data-toggle="modal" data-target="#editPhotoModal">{% bs_icon 'pencil' %} <span class="text-seondary">Edit</span></button>
            {% endif %}
        </div>
        <br /> 
        <ul class="list-group rounded">
            {% for comment in page_obj %}
            <li class="list-group-item">
                <article class="mx-3">
                    <p class="text-secondary text-left">- {{ comment.comment }}</p>
                    <p class="text-secondary text-center">{{ comment.owner|title }}</p>
                </article>
            </li>
            {% empty %}
            <li class="list-group-item">No Comments</li>
            {% endfor %}
        </ul>
        <div class="pagination mt-3 mx-2 text-secondary font-weight-bold d-flex justify-content-between">
            <span class="step-links">
                {% if page_obj.has_previous %}
                    <a class="px-1" href="?page=1">&laquo; first</a>
                    <a class="px-1" href="?page={{ page_obj.previous_page_number }}">previous</a>
                {% endif %}
                {% if page_obj.has_next %}
                    <a class="px-1" href="?page={{ page_obj.next_page_number }}">next</a>
                    <a class="px-1" href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
                {% endif %}
            </span>
            <span class="current">
                Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}
            </span>
        </div>
    </div>
    <!--Add Comment Modal-->
    <div class="modal fade" id="commentModal" tabindex="-1" role="dialog" aria-labelledby="addComment" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="commentModalLabel">New Comment</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <!-- New Comment Form embedded in Modal -->
              <form method="post" action="{% url 'photo_site:photo' photo.id %}">
                {% csrf_token %}
                <p>
                  {{ comment_form.as_p }}
                </p>
                <button type="submit" class="btn btn-outline-primary float-right" name="add_comment">{% bs_icon 'save' %} Save</button>
              </form>
            </div>
          </div>
        </div>
    </div>

    <!--Edit Photo Modal-->
    <div class="modal fade" id="editPhotoModal" tabindex="-1" role="dialog" aria-labelledby="editPhoto" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="editPhotoModalLabel">Edit Photo</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <!-- Edit Photo Form embedded in Modal -->
              <form enctype="multipart/form-data" method="post" action="{% url 'photo_site:photo' photo.id %}">
                {% csrf_token %}
                <p>
                  {{ photo_form.as_p }}
                </p>
                <button type="submit" class="btn btn-outline-primary float-right" name="edit_photo">{% bs_icon 'image' %} Save</button>
              </form>
            </div>
          </div>
        </div>
    </div>
</div>
<br /> 
{% endblock content %}