{% extends "photo_site/base.html" %} {% load static %} {% load bootstrap4 %} {% load bootstrap_icons %} 

{% block title %}Photos{% endblock title %}

{% block content %} 
<div class="container w-75">
    <a class="btn btn-outline-secondary rounded-pill" data-toggle="collapse" href="#filterOptions" role="button" aria-expanded="false" aria-controls="filterOptions">Filter Photos</a>
    <div class="collapse" id="filterOptions">
        <div class="btn-group d-flex flex-wrap" role="group" aria-label="filter photos">
            <button type="button" class="btn btn-outline-secondary rounded-pill"><a href="?"><span class="text-secondary">All</span></a></button>
            {% for photo_type in photo_types %}
            <button type="button" class="btn btn-outline-secondary rounded-pill"><a href="?photo_type={{ photo_type.0 }}" {% if photo_type.0 == selected_type %}class="active"{% endif %}><span class="text-secondary">{{ photo_type.1 }}</span></a></button>
            {% endfor %}
        </div>
    </div>
        

    {% if selected_type %}
        <h4 class="display-4 text-center my-2" id="photos-title">{{ selected_type|title }} Photos</h4>
    {% else %}
        <h4 class="display-3 text-center my-2" id="photos-title">Gallery</h4>
    {% endif %}
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb bg-white">
            <li class="breadcrumb-item"><a href="{% url 'photo_site:index' %}">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">Photos</li>
        </ol>
    </nav>
    <br />
    
    <div class="container d-flex justify-content-between flex-wrap">
    {% for photo in page_obj %}
        <div class="card bg-white text-white mt-2 border-0" >
            <img src="{{ photo.image.url }}" class="card-img-top" alt="{{ photo.title }}" style="max-width:400px;height:225px;border-radius:30%;" />
            <div class="card-img-overlay">
                <h5 class="photo-title"><a class="photo-title" href="{% url 'photo_site:photo' photo.id %}">{{ photo.title|title }}</a></h5>
            </div>
        </div>
        <br />
    {% empty %}
    </div>
    <div class="container">
        <h6 class="text-secondary text-center">No Photos</h6>
        <br />
        <span class="d-flex justify-content-center">
            <button type="button" class="btn btn-outline-primary"><a class="nav-link" href="{% url 'photo_site:add_photo' %}">{% bs_icon 'image-fill' %} Add Photo</a></button>
        </span>
    {% endfor %}
    </div>
    {# pagination buttons to cycle through pages of content #}
    <div class="pagination mt-3 mx-2 text-secondary font-weight-bold d-flex justify-content-between">
        <span class="step-links">
            {% if page_obj.has_previous %}
                <a class="px-1" href="?selected_type={{ selected_type }}&page=1">&laquo; first</a>
                <a class="px-1" href="?selected_type={{ selected_type }}&page={{ page_obj.previous_page_number }}">previous</a>
            {% endif %}
            {% if page_obj.has_next %}
                <a class="px-1" href="?selected_type={{ selected_type }}&page={{ page_obj.next_page_number }}">next</a>
                <a class="px-1" href="?selected_type={{ selected_type }}&page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
            {% endif %}
        </span>
        <span class="current">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}
        </span>
    </div>
</div>

{% endblock content %}
