{% extends "photo_site/base.html" %} {% load static %} {% load bootstrap4 %} {% load bootstrap_icons %}
{% block title %}{{ user.username|title }} Profile{% endblock title %}
{% block content %}
<nav aria-label="breadcrumb">
    <ol class="breadcrumb bg-white">
        <li class="breadcrumb-item"><a href="{% url 'photo_site:index' %}">Home</a></li>
        <li class="breadcrumb-item active" aria-current="page">{{ user.username|title }}'s Profile</li>
    </ol>
</nav>
<div class="container w-75">
    {% if profile.photo %}
    <h2 class="text-center display-4 pb-3" id="profile-title"><img src="{{ profile.photo.url }}" alt="{{ user.username }}" style="max-height:100px;max-width:125px;border-radius:50%" /> {{ user.username|title }}</h2>
    {% else %}
    <h2 class="text-center display-4 pb-3" id="profile-title">{{ user.username|title }}</h2>
    {% endif %}
    <br />
    <div class="container p-4 m-2">
        <article class="text-center text-secondary">
            <h6>Bio</h6>
            <p>{{ profile.bio }}</p>
            <p>{{ user.first_name|title }} {{ user.last_name|title }}</p>
            <p>Age: {{ profile.age }}</p>
        </article>
        <article class="text-center text-secondary">
            <h6>Location</h6>
            <p>{{ profile.location_city|title }}, {{ profile.location_state|title }}, {{ profile.location_country|upper }}</p>
        </article>
        <br/>
        <span class="d-flex justify-content-center">
            <button class="btn btn-outline-danger" data-toggle="modal" data-target="#profileModal">{% bs_icon "pencil" %} <span class="text-secondary">Edit</span></button>
        </span>
    </div>
    <!--Edit Profile Modal-->
    <div class="modal fade" id="profileModal" tabindex="-1" role="dialog" aria-labelledby="editProfile" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="profileModalLabel">Edit {{ user.username|title}}'s Profile</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <!-- Edit Profile Form embedded in Modal -->
              <form enctype="multipart/form-data" method="post" action="{% url 'users:view_profile' user.id %}">
                {% csrf_token %}
                <p>
                  {{ form.as_p }}
                </p>
                <button type="submit" class="btn btn-primary float-right" name="edit_profile">{% bs_icon 'save' %} Save</button>
              </form>
            </div>
          </div>
        </div>
      </div>
</div>

{% endblock content %}